<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$("#buscar_producto").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/inventario/cargar-productos/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								console.log(data)
								return {
									value : item.producto,
									label : item.descripcion,
									precio : item.precio,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					//$("#buscar_producto").val(ui.item.label);

					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false;
					}
					
					var linea = $("#plantillaItemsDocumentoInventario").html();

					linea = linea.replace(/{PRODUCTO}/g, ui.item.value);
					linea = linea.replace(/{DESCRIPCION}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);

					$("#cargarItemProductos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);

					return false;
				}
			});

			$("form").submit(function(){
				$("#plantillaItemsDocumentoInventario").remove();
				return;
			});

		});
		
		var itemsHelper = {
				calcularImporte: function(producto, precio, cantidad){
					$("#total_importe_" + producto).html(parseInt(precio) * parseInt(cantidad));
					this.calcularGranTotal();
				},
				hasProducto: function(producto){
					
					var resultado = false;
					
					$('input[name="item_producto[]"]').each(function(){
						if(parseInt(producto) == parseInt($(this).val()) ){
							resultado = true;
						}
					});
					
					return resultado;
				},
				incrementaCantidad: function(producto, precio){
					var cantidad = $("#cantidad_" + producto).val() ? parseInt($("#cantidad_" + producto).val()) : 0;
					$("#cantidad_" + producto).val(++cantidad);
					this.calcularImporte(producto, precio, cantidad);
				},
				eliminarLineaDocumentoInventario: function(producto){
					$("#row_" + producto).remove();
					this.calcularGranTotal();
				},
				calcularGranTotal: function(){
					var total = 0;
					
					$('span[id^="total_importe_"]').each(function(){
						total += parseInt($(this).html());
					});
					
					$('#gran_total').html(total);
				}
		}
	</script>
</body>
</html>