<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${lblTituloDetalleCiudad}"></div>
			<div class="card-body">
				
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/parametrizacionGeografica/formLocalidad/ciudad/' + ${ciudadEntity.ciudad}}" th:text="'Crear Localidad'"></a>
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/parametrizacionGeografica/listCiudadesDepartamento/' + ${ciudadEntity.departamentoEntity.departamento}}" th:text="'Volver'"></a>
				</h4>

				<div th:if="${#lists.isEmpty(ciudadEntity.localidades)}"
					class="alert alert-info my-4"
					th:text="'No hay localidades'"></div>

				<table th:if="${not #lists.isEmpty(ciudadEntity.localidades)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>Código</th>
							<th>Descripción</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="localidadEntity: ${ciudadEntity.localidades}">
							<td th:text="${localidadEntity.codigo}"></td>
							<td th:text="${localidadEntity.descripcion}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-primary btn-xs" th:href="@{'/parametrizacionGeografica/formLocalidad/localidad/' + ${localidadEntity.localidad}}" th:text="'Editar'"></a>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-danger btn-xs" th:href="@{/eliminarLocalidad/} + ${localidadEntity.localidad}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar registro?');"></a>
							</td>
							<td sec:authorize="hasRole('ROLE_USER')">
								<a class="btn btn-primary btn-xs" th:href="@{/parametrizacionGeografica/listBarriosLocalidad/} + ${localidadEntity.localidad}" th:text="Barrios"></a>
							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>