<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${lblTituloListadoProveedor}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/proveedor/formProveedor}" class="btn btn-primary btn-xs">Crear</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">Id</th>
							<th>Tipo de identificación</th>
							<th>Número de identificación</th>
							<th>Ingresar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedorEntity: ${proveedors}">
							<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" 
							th:href="@{/proveedor/verInformacionProveedor/} + ${proveedorEntity.proveedor}" th:text="${proveedorEntity.proveedor}"></a></td>
							<td th:text="${proveedorEntity.numeroIdentificacion}"></td>
							<td th:text="${proveedorEntity.razonSocial}"></td>
							<td><a class="btn btn-success btn-sm" th:href="@{'/inventario/formDocumentoInventario/' + ${proveedorEntity.proveedor}}" th:text="'Ingresar Inventario'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{/proveedor/formProveedor/} + ${proveedorEntity.proveedor}" th:text="'Editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{/eliminarProveedor/} + ${proveedorEntity.proveedor}" th:text="'Eliminar'" onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>