<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${lblTituloDetallePaciente}"></div>
			<div class="card-body">
				
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/paciente/formPaciente/' + ${pacienteEntity.paciente}}" th:text="'Editar'"></a>
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/paciente/listarPaciente'}" th:text="'Volver'"></a>
				</h4>

				<ul class="list-group">
					<li class="list-group-item" th:text="${pacienteEntity.numeroIdentificacion}"></li>
					<li class="list-group-item" th:text="${pacienteEntity.primerNombre}"></li>
					<li class="list-group-item" th:text="${pacienteEntity.segundoNombre}"></li>
					<li class="list-group-item" th:text="${pacienteEntity.primerApellido}"></li>
					<li class="list-group-item" th:text="${pacienteEntity.segundoApellido}"></li>
				</ul>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>